@font-face {
  font-family: 'ABCFavorit-Regular';
  src: url('../fonts/ABCFavorit-Regular.woff2') format('woff2'),
       url('../fonts/ABCFavorit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABCFavorit-Regular';
  src: url('../fonts/ABCFavorit-RegularItalic.woff2') format('woff2'),
       url('../fonts/ABCFavorit-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Totentanz_WEB-Slanted';
  src: url('../fonts/Totentanz_WEB-Slanted.woff2') format('woff2'),
       url('../fonts/Totentanz_WEB-Slanted.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
